a(href="/") home 
| &nbsp
| &nbsp

a(href="/quiz") start
| &nbsp
| &nbsp

a(href="/users") users
| &nbsp
| &nbsp
if logged
	a(href="/logout") Logout

if logged
	p="Hello, "+person.username+". "
	-var temp_link = "/users/"+person._id
	a(href= temp_link) #{"click here to view your profile"}
else
	form(action='/login', method='POST')
	p
	| username: 
	input(type='text', name='username', value='')
	| 	password: 
	input(type='text', name='password', value='')
	input(type='submit', value='Login')
	
br
br


h1= "Profile for " + featured[0].username

if(person._id==featured[0]._id)
	a Private Mode:
	form(action="/private/"+featured[0]._id, method="POST")
		|On:
		input(type='radio', name='private', id='private', value='On')
		br
		|Off:
		input(type='radio', name='private', id='private', value='Off')
		br
		input(type="Submit" value="Save Changes")
		br      
p= "Total Quizzes: " + featured[0].total_quizzes
p= "Average Score: " + featured[0].average
if(person._id==featured._id)
	a(href="/logout") Logout